<div class='chat-box'>
  <ol>
    {{#each video.riffs as |riff|}}
        {{riff-component riff=riff currentTime=currentTime}}
    {{/each}}
  </ol>
</div>
<form {{action 'createRiff' on='submit'}}>
  {{textarea value=newRiff.text placeholder="Type your riff here!" class="create-riff-box"}}
  <button class="btn btn-submit create-riff-btn">Riff</button>
</form>
