{{!-- <form class="search-form" {{action 'changeVideo' on='submit'}}>
  {{input class="search-box" placeholder='video url' value=url}}
  <button class="search-btn" type='submit'>Submit</button>
</form> --}}

<form class="navbar-form search-form" {{action 'changeVideo' on='submit'}}>
  <div class="input-group">
    {{input size="80" type="text" value=url class="form-control search-box" placeholder="Add a video to our system (you must be signed in to do this)"}}
    <div class="input-group-btn">
      <button class="btn btn-default change-vid-btn" type="submit">Go!</button>
    </div>
  </div>
</form>
