@import 'bootstrap';
@import 'bootstrap/theme';

.chat-box {
  height: 475px;
  overflow: scroll;
  width: 100%;
}

.edit-riff-box {
  height: 440px;
  width: 100%;
}

.edit-riff-btn {
  height: 31px;
}

.cancel-riff-btn {
  height: 31px;
}
