@import 'bootstrap';
@import 'bootstrap/theme';

body {
  background-color: rgb(241,241,241);
}

.cancel-riff-btn {
  height: 31px;
}

.chat-box {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  height: 440px;
  overflow: auto;
  padding: 2px;
  resize: both;
  width: 100%;
}

.create-riff-box {
  height: 33px;
  margin-top: 1px;
  width: 60%
}

.create-riff-btn {
  margin-top: -25px;
}

.edit-riff-box {
  height: 440px;
  overflow: auto;
  width: 100%;
  word-wrap: normal;
}

.edit-riff-btn {
  height: 31px;
}

.search-box {
  height: 40px;
  margin-top: 4px;
}

.search-btn {
  display: inline-block;
  float: left;
}

.search-form {
  margin-left: auto;
  margin-right: auto;
}

.search-li {
  height: 50px;
}
