<div class="container">
    <div class="row">
        <div class="col-md-10">{{ember-youtube ytid=video.ytid timeChanged='timeChanged'}}</div>
        <div class="col-md-2">{{chat-box video=video}}</div>
    </div>
    <div class="row"></div>
</div>


{{youtube-finder changeVideo='changeVideo'}}
