<div class="container">
    <div class="row">
        <div class="col-md-8">
          {{ember-youtube ytid=video.ytid timeChanged='timeChanged'}}
        </div>
        <div class="col-md-4">
          <div>
            {{chat-box video=video currentTime=currentTime createRiff='createRiff'}}
          </div>
        </div>
    </div>
    <div class="row"></div>
</div>
