<form {{action 'save' on='submit'}}>
  {{textarea class="edit-riff-box" placeholder="Edit your riff here!" value=riff.text}}
  <button type="submit" class="btn btn-submit edit-riff-btn">Submit</button>
  <button {{action 'cancel'}} class='btn cancel-riff-btn'>Cancel</button>
  <button {{action 'delete'}} class='btn delete-riff-btn btn-danger'>Delete</button>
</form>
