<form {{action 'save' on='submit'}}>
  {{input class="edit-riff-box" placeholder="Edit your riff here!" value=riff.text}}
  <button type="submit" class="btn btn-submit edit-riff-btn">Submit</button>
</form>
