<div class="container">
    <div class="row">
        <div class="col-md-8">{{ember-youtube startSeconds=model.stamp ytid=model.video.ytid timeChanged='timeChanged'}}</div>
        <div class="col-md-4">
          {{edit-riff-panel riff=model save='save' cancel='cancel' deleteRiff='deleteRiff'}}
        </div>
    </div>
    <div class="row"></div>
</div>


{{youtube-finder changeVideo='changeVideo'}}
